*{
    /* inner Space */
    padding: 0px; 
    /* OutSide Space */
    margin: 0px;
}
.nav{
    background-color: rgba(128, 128, 128, 0.498);
}
.nav img{
    height: 50px;
    margin: 10px 0px 10px 20px;
}
body{
    background-color: red;   
}
.links{
    display: flex;
    float: right;
    margin-top: -50px;
}
.items a{
    padding: 10px;
    text-decoration: none;
}
